<app-view-person></app-view-person>
<div class="card">
    <div class="card-header">
        <strong>Sponsors</strong>
    </div>
    <div class="card-body">
        <mat-table #table [dataSource]="dataSource">

            <!-- First Name Column -->
            <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.firstName}} </mat-cell>
            </ng-container>

            <!-- Middle Name Column -->
            <ng-container matColumnDef="middleName">
                <mat-header-cell *matHeaderCellDef> Middle Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.middleName}} </mat-cell>
            </ng-container>

            <!-- Last Name Column -->
            <ng-container matColumnDef="lastName">
                <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.lastName}} </mat-cell>
            </ng-container>

            <!-- Date Of Birth Column -->
            <ng-container matColumnDef="dob">
                <mat-header-cell *matHeaderCellDef> Date Of Birth </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.dob | date: 'dd-MMM-yyyy'}}
                </mat-cell>
            </ng-container>

            <!-- Gender Column -->
            <ng-container matColumnDef="sex">
                <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ element.sex }} </mat-cell>
            </ng-container>

            <!-- Gender Column -->
            <ng-container matColumnDef="fullName">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element" (click)="getSelectedRow(element)">
                    <a style="text-decoration: underline;color:blue;">
                        Contribute
                    </a>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <!--<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
            <mat-row *matRowDef="let row; columns: displayedColumns;" matRipple class="element-row">
            </mat-row>

        </mat-table>

        <div>&nbsp;</div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="form-group">
                    <button type="submit" class="btn btn-sm btn-primary" (click)="newSponsor()">
                        <strong><i class="fa fa-dot-circle-o"></i>New Sponsor</strong>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <strong>Contributions</strong>
    </div>
    <div class="card-body">
        <mat-table #table [dataSource]="contributiondataSource">

            <!-- First Name Column -->
            <ng-container matColumnDef="amount">
                <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
            </ng-container>

            <!-- Middle Name Column -->
            <ng-container matColumnDef="contributionDate">
                <mat-header-cell *matHeaderCellDef> Contribution Date </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.contributionDate}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="contributionColumns"></mat-header-row>
            <!--<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
            <mat-row *matRowDef="let row; columns: contributionColumns;" matRipple class="element-row">
            </mat-row>

        </mat-table>
    </div>
</div>

<form [formGroup]="form">
    <div class="form-group row">
        <div class="col-md-4">
            <mat-form-field class="col-md-12">
                <mat-select placeholder="years" name="years" id="years" required formControlName="years" required>
                    <mat-option value="2019">2019</mat-option>
                    <mat-option value="2018">2018</mat-option>
                    <mat-option value="2017">2017</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="form-group">
                <button type="submit" class="btn btn-sm btn-primary" (click)="getChartByYear()">
                    <strong><i class="fa fa-dot-circle-o"></i>Get Chart</strong>
                </button>
            </div>
        </div>
    </div>
</form>

<div class="card">
    <div class="card-header">
        Contributions by year
        <div class="card-header-actions">
        </div>
    </div>
    <div class="card-body">
        <div class="chart-wrapper">
            <canvas baseChart class="chart" [datasets]="barChartData" [labels]="barChartLabels"
                [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType"
                (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
        </div>
    </div>
</div>